@import "tailwindcss";

@theme {
  --font-sans: 'Manrope', -apple-system, sans-serif;
}

body {
  font-family: 'Manrope', -apple-system, sans-serif;
  background-color: #FAFAFA;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .safe-area-bottom {
    padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));
  }
}
